/*--------------------- Спецификация ---------------------*/

body {
font-family: "Avenir Next Cyr", sans-serif;
font-size: 12px;
line-height: 1.5;
background-color: #fff;
}


@media (min-width: 360px) {
.container {
max-width: 1555px;
}
}

p{
margin: 0;
}


.row a{
text-decoration: none;
list-style: none;

}


/*--------------------- Хедр ---------------------*/


.head{
background-color: #3c3c3c;
padding-top: 15px;
padding-bottom: 15px;
}

.text-head{
color: #89929d;
font-weight: 550;

}

.text-head2{
color: #89929d;
}

.acst{
color: #a5acb4;
font-size: 14px;
font-weight: 600;
}

.acst:hover{
color: #b4c2d3;
text-decoration: none;
}


/*--------------------- Хедр 2 ---------------------*/


.head-block2{
padding: 50px;
}

.logo1{
margin-left: 110px;
}
.logo2{
margin-left: 25px;
}
.logo3{
margin-left: 25px;
}

.tel a{
display: block;
font-size: 20px;
font-weight: 600;
margin-left: 65px;
text-decoration: none;
color: #000;
}

.mail a{
font-size: 14px;
margin-left: 70px;
font-weight: 500;
text-decoration: none;
color: #000;
}

/* .button__feedback{
border: 1px solid #5ba4dd;
border-radius: 3px;
text-align: center;
padding: 10px;
width: 160px;
height: 45px;
margin-left: 75px;
} */

/* .button__feedback:hover{
background-color: #5ba4dd;
transition: 0.3s;
} */

.button__text{
border: 1px solid #5ba4dd;
border-radius: 3px;
display: block;
font-size: 14px;
width: 200px;
height: 45px;
line-height: 40px;
text-align: center;
margin-left: 35px;
color: #5ba4dd;
}



.button__text:hover{
color: #fff;
}

.button__text:hover{
background-color: #5ba4dd;
transition: 0.2s;
}

.button-system-edo{
background-color: #5ba4dd;
border-radius: 3px;
text-align: center;
padding: 10px;
width: 200px;
height: 45px;
margin-left: 30px;
}

.button-system-edo:hover{
background-color: #307bb4;
transition: 0.3s;
}

.button-system-edo{
color: #fff;
text-decoration: none;
display: block;
font-size: 14px;
}
.button-system-edo:hover{
text-decoration: none;
color: #fff;
}


/*--------------------- Меню ---------------------*/


ul.menu {
padding-left: 0;
margin-bottom: 0;
}

.menu{
padding: 25px;
font-size: 16px;
justify-content: space-between;
list-style: none;
display: block;
}


.menu a{
color: #fff;
text-decoration: none;

}

.menu a:hover{
color: #e2e2e2;
}

/*--------------------- Выпадающее меню ---------------------*/


.menu-item2 ul{
display: none;
margin: 0;
padding: 0;
background-color: #4d5055;
border-top: 25px solid  #4b505c;
z-index: 1000;
}

.menu-item2:hover .drop-menu{
display: block;
position: absolute;

}

.drop-menu li{
list-style-type: none;
padding: 15px;
font-size: 14px;
}

.drop-menu li:hover{
background-color: #666c75;
transition: 0.3s;
}


.arrow-head-menu::after{
content: "";
position: absolute;
border: 5px solid;
border-color: transparent transparent transparent #fff;
transform: rotate(90deg);
margin-left: 10px;
margin-top: 10px;
}

.bg-menu {
background-color: #4b505c;
}

/* Форма поиска */

form {
position: relative;
margin: 0 auto;
height: 42px;
}

input {
height: 33px;
width: 0;
padding: 0 42px 0 0px;
border: none;
border-bottom: 1px solid transparent;
outline: none;
background: transparent;
transition: 0.2s;
position: absolute;
top: 0;
right: 0;
z-index: 2;
color: #fff;
}

input:focus {
width: 45%;
z-index: 1;
margin-left: 15px;
border-bottom: 1px solid rgb(255, 255, 255);
margin-right: 50px;
}

button {
background: transparent;
border: none;
height: 42px;
width: 42px;
position: absolute;
top: 0;
right: 0;
cursor: pointer;
}

button:before {
font-size: 16px;
color: #F9F0DA;
}

::-webkit-input-placeholder{
color: #fff;
font-size: 14px;
font-weight: 200;
}

/* end форма поиска */



/*--------------------- Фон + информация ---------------------*/

.bg-block-01 {
background: url(../img/background.png) no-repeat;
background-size: cover;
color: #fff;
width: 100%;
}

.bg{
background: url(../img/gradient.png) no-repeat;
background-size: cover;
color: #fff;
width: 100%;
height: 585px;;
}



.blog-info{
padding: 85px;
}

.sasp-logo{
margin-bottom: 25px;

}

.tooltip-main {
position: relative;

}
.sasp-logo-info{
background-color: #4973c5;
width: 270px;
height: 85px;
font-size: 14px;
padding: 10px 20px;
position: absolute;
display: none;
margin-top: 15px;
}

.sasp-logo:hover .sasp-logo-info {
display: block;
position: absolute;
z-index: 100000;
transition: 0.2s;
}

.site-sasp{
color: #fff;
margin-left: 75px;
margin-top: -63px;
} 

.site-sasp a:hover{
color: #cecece;
text-decoration: none;
}


.sasp-logo-info::after{
content: "";
position: absolute;
border: 5px solid;
border-color: transparent transparent transparent #fff;
transform: rotate(-90deg);
margin-top: -41px;
margin-left: 18px;
}

.text-cok{
font-size: 30px;
text-transform: uppercase;
margin-bottom: 30px;
}

.text2{
font-size: 20px;
margin-bottom: 35px;
}


.button-zayavka-online{
background-color: #ff5d5d;
border-radius: 3px;
text-align: center;
line-height: 55px;
width: 45%;
}
.button-zayavka-online:hover{
background-color: #e63838;
transition: 0.3s;
}

.button-zayavka{
color: #fff;
display: block;
font-size: 16px;
text-transform: uppercase;
}
.button-zayavka:hover{
text-decoration: none;
color: #fff;
}

.button-zayavka:active{
background-color: #c92525;
border-radius: 3px;
}

/*--------------------- Фон + информация правая сторона ---------------------*/

.info__p{
font-size: 24px;
text-transform: uppercase;
font-weight: 100;
margin-bottom: 20px;
}

.prof__standart{
width: 49%;
height: 23%;
background-color: #fff;
border-radius: 3px;
margin-bottom: 35px;
}

.pf__text a{
font-size: 18px;
color: #3850a5;
padding: 20px 35px;
text-decoration: none;
display: block;
}

.oblast__deatelnosti{
width: 49%;
height: 23%;
background-color: #fff;
border-radius: 3px;
margin-bottom: 30px;
}

.obl__text a{
font-size: 18px;
color: #3850a5;
padding: 20px 35px;
text-decoration: none;
display: block;
}

.pf__text:hover{
margin-left: 5px;
transition: 0.2s ease;
}

.obl__text:hover{
margin-left: 5px;
transition: 0.2s ease;
}

.pf__arrow__1::after{
content: "";
border-bottom: 2px solid;
border-left: 2px solid;
transform: rotate(-135deg);
border-radius: 3px;
width: 23px;
height: 23px;
border-color: #d4d4d4;
position: absolute;
margin-left: 148px;
margin-top: -10px;
}

.pf__arrow__2::after{
content: "";
border-bottom: 2px solid;
border-left: 2px solid;
transform: rotate(-135deg);
border-radius: 3px;
width: 23px;
height: 23px;
border-color: #d4d4d4;
position: absolute;
margin-left: 118px;
margin-top: -10px;
}

.center-text{
font-size: 22px;
font-weight: 450;
margin-bottom: 15px;
}

.attestat-svarshik{
font-size: 16px;
font-weight: 100;
margin-bottom: 10px;
}

.d-line{
width: 23px;
height: 3px;
background-color: #fff;
margin-bottom: 5px;
}

.number-kolvo{
font-size: 28px;
font-weight: 650;
color: #ff5d5d;
margin-bottom: 17px;
}

.button__uslugi{
border: 1px solid #fff;
border-radius: 3px;
width: 35%;
}


.button__ob_uslugax__text{
font-size: 16px;
text-transform: uppercase;
color: #fff;
display: block;
text-align: center;
padding: 15px;
}

.button__ob_uslugax__text a{
text-decoration: none;
}

.button__ob_uslugax__text:hover{
color: #ffffff;
text-decoration: none;
}

/*--------------------- Блок 1 ---------------------*/

.block__uslugi{
width: 100%;
background-color: #fbfbfb;
padding: 50px;
margin-bottom: 65px;
}

.content__header__uslugi{
font-size: 24px;
font-weight: 600;
margin-bottom: 55px;
}


.mask__1{
margin-bottom: 20px;
}


.services__block__line li {
list-style: none;
font-size: 14px;
font-weight: 500;
color: #000;
width: 100%;
}


.specialist__block {
height: 175px;
list-style-type: none;
padding: 20px 20px 20px 25px;
}

.services__block__line:hover{
background-color: #dedede;
transition: 0.4s;
}

.services__block__line:active{
background-color: #c7c7c7;
transition: 0.1s;
}

.col-9{
max-width: 20%;
}


/*--------------------- Блок 2 Новости (block left - 1) ---------------------*/


.news__header{
font-size: 24px;
font-weight: 600;
margin-bottom: 55px;
}

.date__number{
font-size: 14px;
font-weight: 550;
padding: 35px;
position: absolute;
color: #fff;
}

.naks__news__tag{
padding: 35px;
font-size: 14px;
color: #fff;
margin-bottom: 65px;
}

.text__to__news{
font-size: 20px;
font-weight: 550;
color: #fff;
}


.die__for__text{
background-color: rgb(45, 69, 125, 0.8);
width: 80%;
padding: 35px;
opacity: 0;
}

.block__img__news{
background: url(../img/news__photo.png) no-repeat;
background-size: cover;
width: 100%;
border-radius: 3px;
opacity: 1;
}


.block__news__box{
background-color: rgba(104, 104, 104, 0.4);
border-radius: 3px;
margin-bottom: 20px;
width: 100%;
height: 402px;
}

.block__news__box:hover .die__for__text{
opacity: 1;
transition: 0.3s;
margin-top: 100px;
}



/*--------------------- Блок 2 Новости (block right - 2) ---------------------*/

.text__to__news__two{
font-size: 20px;
font-weight: 550;
color: #fff;
}



.die__for__text__two{
background-color: rgb(45, 69, 125, 0.8);
width: 30%;
padding: 35px;
opacity: 0;
}

.block__news__box__two{
background-color: rgba(104, 104, 104, 0.4);
border-radius: 3px;
margin-bottom: 20px;
width: 100%;
height: 402px;
}

.block__img__news__two{
background: url(../img/news__photo_2.png) no-repeat;
background-size: cover;
width: 100%;
border-radius: 3px;
opacity: 1;
}

.block__news__box__two:hover .die__for__text__two{
opacity: 1;
transition: 0.3s;
margin-top: 100px;
}






/*--------------------- Блок 2 Новости (правый блок) ---------------------*/

.date__number__two{
font-size: 12px;
font-weight: 300;
position: absolute;
color: #5b5b5b;
}

.naks__news__tag__two{
color: #568aff;
margin-bottom: 15px;

}

.block__agreements{
background-color: #f7f7f7;
border-radius: 3px;
padding: 35px;
}


.agreements__header__text{
font-weight: 550;
font-size: 14px;
margin-bottom:  20px;
}

.subtitle__text{
font-size: 14px;
font-weight: 300;
margin-bottom: 20px;
}

.button__download{
background-color: #ececec;
text-align: center;
border-radius: 3px;
width: 45%;
padding: 10px;
}

.button__download__text{
color: #4d4d4d;
display: block;
font-size: 12px;
font-weight: 500;
}

.button__download__text:hover{
color: #4d4d4d;
}

.button__download:hover{
background-color: #e7e7e7;
}

.button__download:active{
background-color: #e4e4e4;
}

.icon__doc{
padding-right: 10px;
width: 23px;
}
