/*--------------------- Спецификация ---------------------*/

body {
font-family: "Avenir Next Cyr", sans-serif;
font-size: 12px;
line-height: 1.5;
background-color: #fff;
}


@media (min-width: 1200px) {
.container {
max-width: 1555px;
}
}

p{
margin: 0;
}

/*--------------------- Хедр ---------------------*/


.head{
background-color: #3c3c3c;
padding-top: 15px;
padding-bottom: 15px;
}

.text-head{
color: #89929d;
font-weight: 550;

}

.text-head2{
color: #89929d;
}

.acst{
color: #a5acb4;
font-size: 14px;
font-weight: 600;
}

.acst:hover{
color: #b4c2d3;
text-decoration: none;
}


/*--------------------- Хедр 2 ---------------------*/


.head-block2{
padding: 50px;
}

.logo1{
margin-left: 110px;
}
.logo2{
margin-left: 25px;
}
.logo3{
margin-left: 25px;
}

.tel a{
display: block;
font-size: 20px;
font-weight: 600;
margin-left: 65px;
text-decoration: none;
color: #000;
}

.mail a{
font-size: 14px;
margin-left: 70px;
font-weight: 500;
text-decoration: none;
color: #000;
}


.feedback{
border: 1px solid #5ba4dd;
border-radius: 3px;
text-align: center;
line-height: 40px;
width: 160px;
height: 45px;
margin-left: 75px;
}
.feedback:hover{
background-color: #5ba4dd;
transition: 0.3s;
}

.button-text{
color: #5ba4dd;
text-decoration: none;
display: block;
font-size: 14px;
}
.button-text:hover{
text-decoration: none;
color: #fff;

}

.button-system-edo{
background-color: #5ba4dd;
border-radius: 3px;
text-align: center;
line-height: 40px;
width: 200px;
height: 45px;
margin-left: 30px;
}
.button-system-edo:hover{
background-color: #307bb4;
transition: 0.3s;
}

.button-system-edo{
color: #fff;
text-decoration: none;
display: block;
font-size: 14px;
}
.button-system-edo:hover{
text-decoration: none;
color: #fff;
}


/*--------------------- Меню ---------------------*/


ul.menu {
padding-left: 0;
margin-bottom: 0;
}

.menu{
background-color: rgb(75, 80, 92);
padding-top: 30px;
padding-bottom: 30px;
display: flex;
justify-content: space-between;
}

.menu-item{
font-size: 16px;
list-style-type: none;

}


.menu-item a{
color: #fff;
text-decoration: none;
}

.menu-item a:hover{
color:  #dadada;
text-decoration: none;
}

.menu-item2{
list-style-type: none;
font-size: 16px;
}

.menu-item2 a{
color: #fff;
text-decoration: none;
}



/*--------------------- Выпадающее меню ---------------------*/


.menu-item2 ul{
display: none;
margin: 0;
padding: 0;
background-color: #4d5055;
margin-top: 5px;
}

.menu-item2:hover .drop-menu{
display: block;
position: fixed;
margin-top: 30px;
z-index: 1000;
}


.drop-menu li{
list-style-type: none;
padding: 15px;
font-size: 14px;
}

.drop-menu li:hover{
background-color: #666c75;
transition: 0.3s;
}


.arrow-head-menu::after{
content: "";
position: absolute;
border: 5px solid;
border-color: transparent transparent transparent #fff;
transform: rotate(90deg);
margin-left: 10px;
margin-top: 10px;
}


/*--------------------- Фон+информация ---------------------*/

.bg	{
background-color: rgba(37, 40, 45, 1);
background: -webkit-linear-gradient(bottom, #25282D, #9AA9CE);
background: -moz-linear-gradient(bottom, #25282D, #9AA9CE);
background: linear-gradient(to top, #25282D, #9AA9CE);
}


.bg-block-01 {
background: url(../img/background.png) no-repeat;
background-size: cover;
color: #fff;
}
.bg-menu {
background-color: #4b505c;
margin-bottom: 65px;
}

.sasp-logo{
margin-bottom: 15px;
}

.sasp-logo-info{
background-color: #4973c5;
width: 270px;
height: 85px;
font-size: 14px;
padding: 10px 20px;
opacity: 0;
position: absolute;
}

.sasp-logo:hover .sasp-logo-info{
opacity: 1;
transition: 0.2s ease;
margin-top: 15px;
}

.site-sasp{
color: #fff;
margin-left: 75px;
margin-top: -63px;
} 

.site-sasp a:hover{
color: #cecece;
text-decoration: none;
}


.sasp-logo-info::after{
content: "";
position: absolute;
border: 5px solid;
border-color: transparent transparent transparent #fff;
transform: rotate(-90deg);
margin-top: -41px;
margin-left: 18px;
}

.text-cok{
font-size: 30px;
text-transform: uppercase;
margin-bottom: 35px;

}

.text2{
font-size: 20px;
margin-bottom: 45px;
}


.button-zayavka-online{
background-color: #ff5d5d;
border-radius: 3px;
text-align: center;
line-height: 55px;
width: 200px;
height: 45px;
margin-left: 30px;
width: 320px;
height: 55px;
}
.button-zayavka-online:hover{
background-color: #e63838;
transition: 0.3s;
}

.button-zayavka{
color: #fff;
display: block;
font-size: 16px;
text-transform: uppercase;
}
.button-zayavka:hover{
text-decoration: none;
color: #fff;
}


/*--------------------- Блок 1 ---------------------*/
