@import "_legacy.scss";
@import "_header.scss";
@import "_burger__menu.scss";
@import "_modal__window.scss";


.logo__block {
    @media screen and (max-width: 1200px) {
        justify-content: space-between;
    }

    @media screen and (max-width: 576px) {
        padding: 15px 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}


.header__buttons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1500px) {
        margin: 0px;       
    }
}


.logo__block {
    @media screen and (max-width: 1300px) {
        display: none;    
    }
}


.logo__block {
    @media screen and (max-width: 995px) {
        display: block;    
    }
}


.logo__block {
    @media screen and (max-width: 995px) {
        display: flex;    
    }
}

.block__obl__proff{
    @media screen and (max-width: 1055px) {
        display: inline;
        flex-flow: row wrap;
        justify-content: space-between;    
    }
}


.info__number__atestat__block{
    @media screen and (max-width: 480px) {
        display: none;
     }
}

.info__text__right{
    @media screen and (max-width: 480px) {
        display: none;
     }
}